// app global css in SCSS form
.head-title {
  border-bottom: 1px solid #000;
}
.border-b {
  border-bottom: 1px solid #eaeaea;
}
.del-card {
  margin-top: -8px;
  margin-right: -8px;
  display: none;
  z-index: 100;
}
.flowBox:hover .del-card {
  display: block;
}
.q-btn.theme {
  margin-top: 0;
  height: 50px;
  word-wrap: unset;
  line-height: 1.4em;
  text-transform: unset;
  margin: 0 5px;
}
.theme-tab-btn {
  float: right;
  right: 0;
  position: absolute;
}

.flowRow {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.12);

  &:last-of-type {
    border-top: 0 solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.flowBoxWrap {
  min-width: 220px;
  border-bottom: 1px dotted #E5E5E5;
  position: relative;
}

.flowBox {
  min-width: 150px;
  height: fit-content;
}

.flowBoxAction {
  height: 138px;
}
