// app global css in SCSS form
.head-title {
  border-bottom: 1px solid #000;
}
.del-card {
  margin-top: -8px;
  margin-right: -8px;
  display: none;
  z-index: 100;
}
.flowBox:hover > .del-card {
  display: block;
}
